export(
"whiteningMatrix", "whiten", "whiteningCrossCov", "cca", "scca", "corplot", "loadplot", "simOrtho"
)
import("corpcor")
import("stats")

importFrom("graphics", "box", "image", "layout", "mtext", "par")
